/* Side Bar Links */


.your-order-details .orders
{
  background-color: #080808;

}

.your-order-details .orders a
{
  color: #fff !important;

}

.your-orders .orders
{
  background-color: #080808;

}

.your-orders .orders a
{
  color: #fff !important;

}

.profile .dashboard
{
    background-color: #080808;
}

.profile .dashboard a {
  color: #fff !important;
}

.products  .products {
  background-color: #080808;
}

.products  .products a {
  color: #fff !important;
}


.shopping-cart .shopping-cart {
  background-color: #080808;
}

.shopping-cart  .shopping-cart a {
  color: #fff !important;
}

/* Grid */

.main {
  width: 100%;
  padding-left: 225px;
}

/* Sidebar */

.navbar .navbar-nav.sidebar-nav {
  position: fixed;
  top: 50px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #292b2c!important;
  border-top: 1px solid black !important;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  padding-left: 0px;
}

.sidebar-nav>li {
  position: relative;
  display: block;


}

.sidebar-nav>li a {
  position: relative;
  display: block;
  width: 225px;
padding: 1.3em 1em;
}

.sidebar-nav>li a:hover {
text-decoration: none;
}


.navbar-nav>li {
  float: left;
}


/* Nav */

.navbar {
  background-color: #292b2c!important;
  padding: 0px !important;
  border-radius: 0px;
  border: none;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.thumbnail img {
  max-height: 200px;
}

.thumbnail .description {
  color: #606060;
}

.modal-body img {
  width: 250px;
  margin-bottom: 10px;
}

.header-list {
  border-bottom: 2px solid black;
  margin-bottom: 4px;
  padding: 0em 1em;
}

.header-list span {
  width: 22.5%;
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 7px;
}

.prodlist label {
  width: 22.5%;
  display: inline-block;
}

.prodlist input {
  width: 25%;
  display: inline-block;
}

.prodlist>div {
  border-bottom: 2px solid #DDDDDD;
  padding-bottom: 5px;
  padding-top: 7px;
  padding: 0.8em 1em;
}

.prodlist>div:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.buttonGroup {
  padding-top: 1em;
}

.reduceProd
{
  width: 25px;
  height: 25px;
}

.addProd
{
  width: 25px;
  height: 25px;
}
